@model BillFormModel
@{
    ViewBag.Title = $"Add Bill for {ViewBag.Date}";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Add" method="post">            
            <div class="mb-3">
                <label asp-for="@Model.BillTypeId" class="form-label-add-edit"></label>
                <select asp-for="@Model.BillTypeId" class="form-control" aria-required="true">
                    @foreach (var type in Model.BillTypes)
                    {
                        <option value="@type.Id">@type.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.BillTypeId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Cost" class="form-label-add-edit"></label>
                <input asp-for="@Model.Cost" class="form-control" aria-required="true"></input>
                <span asp-validation-for="@Model.Cost" class="text-danger"></span>
            </div>


            <div class="mb-3">
                <label asp-for="@Model.PayerId" class="form-label-add-edit"></label>
                <div class="form-check">
                    <input type="radio" name="PayerId" value="" class="form-check-input" aria-required="false" checked >
                    <label class="form-check-label">Not Paid</label><br>
                    @foreach (var type in Model.Payers)
                    {
                        <input type="radio" name="PayerId" value="@type.Id" class="form-check-input" aria-required="false">
                        <label class="form-check-label">@type.Name</label>

                        <br />
                    }
                </div>
                <span asp-validation-for="@Model.PayerId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input class="btn btn-warning mb-2 w-100 p-3 fw-bold" type="submit" value="Add" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}