@model GuestFeedbackMessageFormViewModel
@{
    ViewBag.Title = "Feedback messages";
    ViewBag.Message = TempData["Message"];
}

<h2 class="text-center">@ViewBag.Title</h2>
@{if (ViewBag.Message!=null)
    {
<div class="row justify-content-center">
    <div class="col-6 alert alert-dismissible alert-success text-center">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @ViewBag.Message
    </div>
</div>
    }}
    <hr />

    <div >
    @foreach (var e in Model.FeedbackMessages)
    {
        string date = e.Date.ToString("dd/MMM/yy HH:mm");

       <ol class="list-group">
         <li class="list-group-item row d-flex justify-content-between">
           <div class="col-md-12">
              <div class="row d-flex justify-content-between">
                <div class="fw-bold col-md-9">@e.Title</div>
                <div class="col-md-2 "><div class="text-end">@date</div></div>
                <form class="input-group-sm col-md-1 d-flex justify-content-end " asp-controller="Feedback" asp-action="Remove" asp-route-id="@e.Id">
                            <button type="submit" class="btn btn-dark" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                </form>
              </div>                    
            @e.Content
            <div class="fw-bold text-secondary">Comment: @e.Comment</div>                   
           </div>           
         </li>
       </ol>
    }
    </div>
<partial name="_AddFeedbackPartial" model="@Model.Model" />


    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }