@model GuestFeedbackMessageFormViewModel
@{
    ViewBag.Title = "Feedback messages";
    ViewBag.Message = TempData["Message"];
}

<h2 class="text-center">@ViewBag.Title</h2>
<h3 class="text-center text-info">@ViewBag.Message</h3>
    <hr />

    <div >
        @foreach (var e in Model.FeedbackMessages)
    {
       
        string date = e.Date.ToString("dd/MMM/yy HH:mm");

               <ol class="list-group">
         <li class="list-group-item d-flex justify-content-between align-items-start">
           <div class="ms-2 me-auto">
                    <div class="fw-bold">@e.Title</div>
                    @e.Content
                    <p class="mb-0"><span class="fw-bold text-secondary">Comment: @e.Comment</span></p>
                   
           </div>
                <span class="text-end">@date</span>
                <form class="input-group-sm " asp-controller="Feedback" asp-action="Remove" asp-route-id="@e.Id">
                    <button type="submit" class="btn-close" aria-label="Close"></button>
                </form>
         </li>
         </ol>
    }
    </div>
<partial name="_AddFeedbackPartial" model="@Model.Model" />


    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }