@model List<MemberSalaryFormViewModel>
@{
    ViewBag.Title = $"Summarize month: ";
    ViewBag.ErrorMessage = TempData["ErrorMessage"];
}


<h2 class="text-center">@ViewBag.Title</h2> 
@{if (ViewBag.ErrorMessage != null)
    {
    <div class="row justify-content-center">
        <div class="col-6 alert alert-dismissible alert-danger text-center">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            @ViewBag.ErrorMessage
        </div>
    </div>

    }}
<hr />

<div class="row d-grid gap-2">
<div class="row d-grid gap-2">
    <form asp-action="Add" method="post">

        @for (int i = 0; i < Model.Count(); i++)
        {
            <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
                <div class="mb-3">
                    @Html.HiddenFor(m => Model[i].Id)
                    @Html.HiddenFor(m => Model[i].Name)
                    <h5 class="card-title mt-1">@Model[i].Name</h5>
                    <label asp-for="@Model[i].Salary" class="form-label-add-edit">This month salary</label>
                    <input asp-for="@Model[i].Salary" class="form-control" aria-required="true" />
                    <span asp-validation-for="@Model[i].Salary" class="text-danger"></span>
                </div>
            </div>
        }
        <div class="row justify-content-around">
            <div class="col-md-5 d-grid gap-2">
                <input class="btn btn-success " type="submit" value="Summarize" />
            </div>
        </div>
    </form>
</div>
<div class="alert alert-warning" role="alert">
    Summarizing the month will archive all your curent month's bills and push you one month forward!
    Archived bills can't be deleted or edited!
</div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}