@model IEnumerable<SummaryViewModel>
@{
    ViewBag.Title = "All Summaries";
    ViewBag.Text = $"Summarize {ViewBag.Date}";
    ViewBag.Message = TempData["Message"];
}


<h2 class="text-center">@ViewBag.Title</h2>
<h3 class="text-center">@ViewBag.Message</h3>
<hr />

<div class="text-center row">
    @foreach (var e in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <h5 class="card-title mt-1">@e.Date</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Summary</h6>
                <p class="card-text">@e.Summary</p>                
                @{
                    if (e.IsResolved)
                    {
                        <p class="mb-0"><span class="fw-bold">Resolved</span></p>
                    }
                    else
                    {
                        <form class="input-group-sm " asp-controller="Summary" asp-action="Resolve" asp-route-id="@e.Id">
                            <input type="submit" value="Resolve" class="fs-6 btn btn-primary mb-3 w-100 p-3 fw-bold" />
                        </form>
                    }
                }
            </div>
        </div>
    }
    <a asp-controller="Summary" asp-action="Add" class="btn btn-warning mb-2 w-100 p-3 fw-bold">@ViewBag.Text</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}