@model IEnumerable<AdminViewModel>
@{
    ViewBag.Title = "All Admins";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div>
    @foreach (var e in Model)
    {
        <ol class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">@e.UserName</div>
                    <div class="fw-bold">@e.Email</div>                    
                </div>               
                <form class="input-group-sm " asp-controller="Admin" asp-action="Delete" asp-route-id="@e.Id">
                    <button type="submit" class="btn-close" aria-label="Close" onclick="return confirm('Are you sure you want to delete admin: @e.UserName')"></button>
                </form>
            </li>
        </ol>
    }
</div>